<div class="container">
  <br>
  <br>

  <div class="row">
    <div  *ngFor="let peliculaVariable of pelis; let i=index">
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="{{peliculaVariable.poster}}" alt="Card image cap">
          <div class="card-block">
            <h4  class="card-title">Auto</h4>

            <p><strong>Titulo:</strong> {{peliculaVariable.show_title}}</p>
            <p><strong>Año:</strong>{{peliculaVariable.release_year}}</p>
            <p><strong>Categoria:</strong>{{peliculaVariable.category}}</p>
            <p><strong>Calificacion:</strong>{{peliculaVariable.rating}}</p>
            <button  class="btn btn-danger" (click)="eliminarPeliBackend(peliculaVariable,peliculaVariable._id)">Eliminar</button>



          </div>
        </div>
      </div>
    </div>
  </div>

</div>
