<div class="container">
  <p style="text-align:center;"><img src="https://pbs.twimg.com/profile_images/808475349671493632/nvi7WJf4_400x400.jpg" alt="" height="100" width="100"></p>
  <h1>Examen Julio Mora</h1>

  <h2>Ingrese Heroe</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-form-label">Nombre del Heroe:
        </label>
        <input class="form-control"
               placeholder="Ingrese Nombre"
               [(ngModel)]="nuevoHeroe.nombre" type="text">
        <label class="col-form-label">Castillo del Heroe:
        </label>
        <input class="form-control"
               placeholder="Ingrese Castillo"
               [(ngModel)]="nuevoHeroe.castillo" type="text">
        <label class="col-form-label">Nivel del Heroe:
        </label>
        <input class="form-control"
               placeholder="Ingrese Nivel"
               [(ngModel)]="nuevoHeroe.nivel" type="number">
      </div>

      <br>
      <button class="btn btn-success"
              (click)="crearHeroe()">
        Crear Nuevo Heroe
      </button>
      <br>
      <br>
    </div>
  </div>
  <h3>Heroes:</h3>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-3" *ngFor="let heroei of heroes; let indice = index;">
      <app-heroes [heroesInput]="heroei">

      </app-heroes>
    </div>
  </div>
</div>
